{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Alexander Caicedo - Portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="Alexander, Alexander Caicedo, Caicedo, Samuel,Samuel Alexander Caicedo Samboni, Samuel Alexander, Portfolio,Portafolio, Desarrollador, Desarrollador Web, Web Developer,Developer, Web, Web Development, Desarrollo Web, Desarrollo,Programador, Programador Web, Web Programmer, Programmer,Frontend, Frontend Developer, Frontend Development, Desarrollo Frontend,Frontend Programmer, Frontend Programador, Programador Frontend,Portfolio Alexander, Portfolio Alexander Caicedo, Portfolio Samuel,">
        <meta name="description" content="Hola, soy Alexander Caicedo, un apasionado por la tecnología y el desarrollo web. En este sitio web encontrarás información sobre mi perfil profesional, proyectos y habilidades.">                  
        <meta name="author" content="Alexander Caicedo">
        <meta name="robots" content="index, follow">
        <meta http-equiv="refresh" content="30">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <meta name="og:title" content="Alexander Caicedo - Portfolio">
        <meta name="og:description" content="Hola, soy Alexander Caicedo, un apasionado por la tecnología y el desarrollo web. En este sitio web encontrarás información sobre mi perfil profesional, proyectos y habilidades.">
        <meta name="og:image" content="{% static 'images/yo.jpg' %}">
        <meta name="og:url" content="https://alexandercaicedo.pro">
        <meta name="og:site_name" content="Alexander Caicedo - Portfolio">
        <meta name="og:type" content="website">
        <meta name="og:locale" content="es_ES">
        <meta name="og:locale:alternate" content="es_CO">

        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}
</head>
<body class="flex flex-col items-center justify-center h-screen bg-gray-900 font-sans">
    <div class="justify-center flex flex-col items-center gap-4 mb-8">
        <img class="w-36 h-36 object-cover rounded-full shadow-2xl shadow-gray-600 lg:w-48 lg:h-48" 
            src="{% static 'images/yo.jpg' %}" alt="Foto de Alexander Caicedo">
        <h1 class="font-bold text-2xl text-white lg:text-4xl">🚀 ¡Coming Soon! 😎 </h1>
    </div>
</body>
</html>